/* You can add global styles to this file, and also import other style files */

html, body { height: 90%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;    background-color: #E0F7FB; }
.app-background-color {
    background-color: #00838G;
    color: white;
}
